@import "tailwindcss";

@theme {
  --color-brand-primary: #22c55e;
  --color-brand-bg: #030303;
  --color-brand-card: #0a0a0a;
  --color-brand-border: #1a1a1a;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
}

.bg-mask {
  mask-image: radial-gradient(circle at center, black, transparent 80%);
}