name: Deploy na Hukot

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: 游꿀 Nahr치v치m na server
    runs-on: ubuntu-latest
    steps:
    - name: 游뚴 Stahuji nejnov캩j코칤 k칩d
      uses: actions/checkout@v4
    
    - name: 游늭 Kop칤ruji na FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: ./www/  # Tady pozor: Hukot m칤v치 slo쬶u www nebo public_html
